### Импорты

In [1]:
import pandas as pd
import copy

### Класс автобуса

In [2]:
class Bus():
    def __init__(self,busID, free = True, direction = True):
        self.busID = busID
        self.free = free
        #true - forward, false - back
        self.direction = direction
        self.timefree = 21 #&???

    def change_free(self):
        self.free = not(self.free)

    def change_dir(self):
        self.direction = not(self.direction)
        
    def set_time(self, time):
        self.timefree = time

In [87]:
class Station():
    def __init__(self, timestart, timestop, direction):
        self.timestart = timestart
        self.timestop = timestop
        self.direction = direction
    def print_info(self):
        return self.timestart, self.timestop, self.direction

### Класс расписания

In [ ]:
'''class Timetable():
    def __init__(self):
'''

In [75]:
df_timetable = pd.read_excel('test.xlsx')
print(df_timetable.head(50))

     time  countf      delayf  countb      delayb  sumf  onef  sumb  oneb
0   03:00       0  нет рейсов       0  нет рейсов  0.00  0.00  0.00  0.00
1   03:30       0  нет рейсов       0  нет рейсов  0.32  0.32  0.30  0.30
2   04:00       0  нет рейсов       0  нет рейсов  0.60  0.28  0.68  0.38
3   04:30       0  нет рейсов       0  нет рейсов  1.17  0.57  1.12  0.44
4   05:00       1          20       0  нет рейсов  1.68  0.51  1.50  0.38
5   05:30       2          20       1          20  2.03  0.35  1.77  0.27
6   06:00       3           9       3          20  2.43  0.41  2.03  0.26
7   06:30       4           9       3           9  3.96  1.53  2.39  0.36
8   07:00       3           8       3           9  4.32  0.36  3.34  0.95
9   07:30       4           8       4           8  4.84  0.51  3.67  0.33
10  08:00       4           8       4           8  5.22  0.38  4.07  0.40
11  08:30       4           8       4           8  5.46  0.24  4.50  0.43
12  09:00       3           8       3           8  6.08  0.62  5.08  0.58
13  09:30       2          15       4           8  6.48  0.39  5.49  0.41
14  10:00       2          15       2          15   NaN   NaN  5.63  0.14
15  10:30       2          15       2          15   NaN   NaN   NaN   NaN
16  11:00       3          10       2          15   NaN   NaN   NaN   NaN
17  11:30       3          10       3          10   NaN   NaN   NaN   NaN
18  12:00       3          10       3          10   NaN   NaN   NaN   NaN
19  12:30       3          10       3          10   NaN   NaN   NaN   NaN
20  13:00       3          10       3          10   NaN   NaN   NaN   NaN
21  13:30       3          10       3          10   NaN   NaN   NaN   NaN
22  14:00       3          10       3          10   NaN   NaN   NaN   NaN
23  14:30       3          10       3          10   NaN   NaN   NaN   NaN
24  15:00       3          10       3          10   NaN   NaN   NaN   NaN
25  15:30       3          10       3          10   NaN   NaN   NaN   NaN
26  16:00       3          10       3          10   NaN   NaN   NaN   NaN
27  16:30       3          10       3          10   NaN   NaN   NaN   NaN
28  17:00       4           8       3          10   NaN   NaN   NaN   NaN
29  17:30       4           8       4           8   NaN   NaN   NaN   NaN
30  18:00       4           8       4           8   NaN   NaN   NaN   NaN
31  18:30       3           8       3           8   NaN   NaN   NaN   NaN
32  19:00       4           8       4           8   NaN   NaN   NaN   NaN
33  19:30       4           8       4           8   NaN   NaN   NaN   NaN
34  20:00       2          12       3           8   NaN   NaN   NaN   NaN
35  20:30       3          12       3          12   NaN   NaN   NaN   NaN
36  21:00       2          12       2          12   NaN   NaN   NaN   NaN
37  21:30       2          16       2          12   NaN   NaN   NaN   NaN
38  22:00       2          16       2          16   NaN   NaN   NaN   NaN
39  22:30       2          16       2          16   NaN   NaN   NaN   NaN
40  23:00       1          20       2          16   NaN   NaN   NaN   NaN
41  23:30       2          20       1          20   NaN   NaN   NaN   NaN
42  00:00       1          20       2          20   NaN   NaN   NaN   NaN
43  00:30       0  нет рейсов       1          20   NaN   NaN   NaN   NaN
44  01:00       0  нет рейсов       0  нет рейсов   NaN   NaN   NaN   NaN
45  01:30       0  нет рейсов       0  нет рейсов   NaN   NaN   NaN   NaN
46  02:00       0  нет рейсов       0  нет рейсов   NaN   NaN   NaN   NaN
47  02:30       0  нет рейсов       0  нет рейсов   NaN   NaN   NaN   NaN

In [76]:
#Переведем время в datetime
df_timetable["time_dt"] = df_timetable["time"].apply(lambda x: pd.to_datetime(x, format= "%H:%M"))
print(df_timetable["time_dt"].head(5))

0   1900-01-01 03:00:00
1   1900-01-01 03:30:00
2   1900-01-01 04:00:00
3   1900-01-01 04:30:00
4   1900-01-01 05:00:00
Name: time_dt, dtype: datetime64[ns]

In [77]:
#Заменим нет рейсов на 0
df_timetable.loc[df_timetable["delayf"] == "нет рейсов", "delayf"] = 0
df_timetable.loc[df_timetable["delayb"] == "нет рейсов", "delayb"] = 0
df_timetable.head(2)

,time,countf,delayf,countb,delayb,sumf,onef,sumb,oneb,time_dt
0,03:00,0,0,0,0,0.00,0.00,0.0,0.0,1900-01-01 03:00:00
1,03:30,0,0,0,0,0.32,0.32,0.3,0.3,1900-01-01 03:30:00

### MainTest

In [55]:
# Расчитаем среднее время проезда в обоих направлениях
#Средняя скорость автобуса 19 км/ч
avetimef = round(6.48/19*60, 2)
avetimeb = 5.63/19*60
avtfm = avetimef // 1
avtfs = avetimef % 1 * 60  // 1
avtbm = avetimeb // 1
avtbs = avetimeb % 1 * 60  // 1
print(avtfm, avtfs, avtbm, avtbs)

20.0 27.0 17.0 46.0

In [13]:
#создаем тайминги
ftime = pd.to_datetime(df_timetable["time"][0], format= "%H:%M")
print(ftime)
inter = [ftime + pd.Timedelta(hours = i, minutes=j) for i in range(24) for j in range(5,60,5)]
print(inter[0])

1900-01-01 03:00:00
1900-01-01 03:05:00

In [98]:
lastsend1 = pd.to_datetime("0:0", format= "%H:%M")
test = pd.to_datetime("2:0", format= "%H:%M")

print(lastsend1 < test)

True

In [132]:
dirtt = {} #словарь со списками точек входа/выхода для каждого автобуса

freebus = [] #свободные
busybus = [] #занятые
for i in range(8):
    freebus.append(Bus(i+1))
    dirtt[i+1] = []
buspark = copy.copy(freebus) #парк автобусов
print(dirtt)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: []}

In [133]:
ftime = pd.to_datetime(df_timetable["time"][0], format= "%H:%M")

nowbusf = 0
nowbusb = 0

lastsendf = pd.to_datetime("0:0", format= "%H:%M")
lastsendb = pd.to_datetime("0:0", format= "%H:%M")
for i in range(24):
    for j in range(0, 60, 5):
        ntime = ftime + pd.Timedelta(hours = i, minutes=j)
        if ntime.day == 2:
            ntime -= pd.Timedelta(days = 1)
        if df_timetable["time_dt"].isin([ntime]).any():
            row = df_timetable.loc[df_timetable["time_dt"] == ntime]
            cbf = int(row["countf"])
            cbb = int(row["countb"])
            delf = int(row["delayf"])
            delb = int(row["delayb"])
        
        deltasendf = (test - lastsendf).seconds/60
        deltasendb = (test - lastsendf).seconds/60
        
        if ((nowbusf + nowbusb) >= (cbf + cbb)) and ((cbf + cbb) != 0):
            for j in buspark:
                if not(j.free):
                    if dirtt[j.busID][-1].timestop < ntime:
                        j.change_free()
                        if j.direction:
                            nowbusf -= 1
                        else: 
                            nowbusb -= 1
                        j.change_dir()
        
        if ((nowbusf + nowbusb) != (cbf + cbb)):
            #переделать в отдельную функцию
            for j in buspark:
                if j.free:
                    if nowbusf != cbf and j.direction and (deltasendf - delf) >= 0:
                        stoptime = ntime + pd.Timedelta(minutes = avtfm, seconds = avtfs)
                        st = Station(ntime, stoptime, True)
                        dirtt[j.busID].append(st)
                        lastsendf = ntime
                        j.change_free()
                        nowbusf += 1
                    elif nowbusb != cbb and not(j.direction) and (deltasendb - delb) >= 0:
                        stoptime = ntime + pd.Timedelta(minutes = avtfm, seconds = avtfs)
                        st = Station(ntime, stoptime, False)
                        dirtt[j.busID].append(st)
                        lastsendb = ntime
                        j.change_free()
                        nowbusb += 1
                
            
        print(ntime, nowbusf, nowbusb, cbf, cbb)
                        
                    
                    
# print(dirtt)

1900-01-01 03:00:00 0 0 0 0
1900-01-01 03:05:00 0 0 0 0
1900-01-01 03:10:00 0 0 0 0
1900-01-01 03:15:00 0 0 0 0
1900-01-01 03:20:00 0 0 0 0
1900-01-01 03:25:00 0 0 0 0
1900-01-01 03:30:00 0 0 0 0
1900-01-01 03:35:00 0 0 0 0
1900-01-01 03:40:00 0 0 0 0
1900-01-01 03:45:00 0 0 0 0
1900-01-01 03:50:00 0 0 0 0
1900-01-01 03:55:00 0 0 0 0
1900-01-01 04:00:00 0 0 0 0
1900-01-01 04:05:00 0 0 0 0
1900-01-01 04:10:00 0 0 0 0
1900-01-01 04:15:00 0 0 0 0
1900-01-01 04:20:00 0 0 0 0
1900-01-01 04:25:00 0 0 0 0
1900-01-01 04:30:00 0 0 0 0
1900-01-01 04:35:00 0 0 0 0
1900-01-01 04:40:00 0 0 0 0
1900-01-01 04:45:00 0 0 0 0
1900-01-01 04:50:00 0 0 0 0
1900-01-01 04:55:00 0 0 0 0
1900-01-01 05:00:00 1 0 1 0
1900-01-01 05:05:00 1 0 1 0
1900-01-01 05:10:00 1 0 1 0
1900-01-01 05:15:00 1 0 1 0
1900-01-01 05:20:00 1 0 1 0
1900-01-01 05:25:00 1 0 1 0
1900-01-01 05:30:00 2 1 2 1
1900-01-01 05:35:00 2 1 2 1
1900-01-01 05:40:00 2 1 2 1
1900-01-01 05:45:00 2 1 2 1
1900-01-01 05:50:00 2 1 2 1
1900-01-01 05:55:00 2 1 2 1
1900-01-01 06:00:00 3 2 3 3
1900-01-01 06:05:00 3 2 3 3
1900-01-01 06:10:00 3 2 3 3
1900-01-01 06:15:00 3 2 3 3
1900-01-01 06:20:00 3 2 3 3
1900-01-01 06:25:00 3 2 3 3
1900-01-01 06:30:00 4 2 4 3
1900-01-01 06:35:00 4 2 4 3
1900-01-01 06:40:00 4 2 4 3
1900-01-01 06:45:00 4 2 4 3
1900-01-01 06:50:00 4 2 4 3
1900-01-01 06:55:00 4 2 4 3
1900-01-01 07:00:00 3 3 3 3
1900-01-01 07:05:00 3 3 3 3
1900-01-01 07:10:00 3 3 3 3
1900-01-01 07:15:00 3 3 3 3
1900-01-01 07:20:00 3 3 3 3
1900-01-01 07:25:00 3 3 3 3
1900-01-01 07:30:00 4 4 4 4
1900-01-01 07:35:00 4 4 4 4
1900-01-01 07:40:00 4 4 4 4
1900-01-01 07:45:00 4 4 4 4
1900-01-01 07:50:00 4 4 4 4
1900-01-01 07:55:00 4 4 4 4
1900-01-01 08:00:00 4 4 4 4
1900-01-01 08:05:00 4 4 4 4
1900-01-01 08:10:00 4 4 4 4
1900-01-01 08:15:00 4 4 4 4
1900-01-01 08:20:00 4 4 4 4
1900-01-01 08:25:00 4 4 4 4
1900-01-01 08:30:00 4 4 4 4
1900-01-01 08:35:00 4 4 4 4
1900-01-01 08:40:00 4 4 4 4
1900-01-01 08:45:00 4 4 4 4
1900-01-01 08:50:00 4 4 4 4
1900-01-01 08:55:00 4 4 4 4
1900-01-01 09:00:00 4 4 3 3
1900-01-01 09:05:00 3 3 3 3
1900-01-01 09:10:00 3 3 3 3
1900-01-01 09:15:00 3 3 3 3
1900-01-01 09:20:00 3 3 3 3
1900-01-01 09:25:00 3 3 3 3
1900-01-01 09:30:00 2 4 2 4
1900-01-01 09:35:00 2 4 2 4
1900-01-01 09:40:00 2 4 2 4
1900-01-01 09:45:00 2 4 2 4
1900-01-01 09:50:00 2 4 2 4
1900-01-01 09:55:00 2 2 2 4
1900-01-01 10:00:00 2 2 2 2
1900-01-01 10:05:00 2 2 2 2
1900-01-01 10:10:00 2 2 2 2
1900-01-01 10:15:00 2 2 2 2
1900-01-01 10:20:00 2 2 2 2
1900-01-01 10:25:00 2 2 2 2
1900-01-01 10:30:00 2 2 2 2
1900-01-01 10:35:00 2 2 2 2
1900-01-01 10:40:00 2 2 2 2
1900-01-01 10:45:00 2 2 2 2
1900-01-01 10:50:00 2 2 2 2
1900-01-01 10:55:00 2 2 2 2
1900-01-01 11:00:00 3 2 3 2
1900-01-01 11:05:00 3 2 3 2
1900-01-01 11:10:00 3 2 3 2
1900-01-01 11:15:00 3 2 3 2
1900-01-01 11:20:00 3 2 3 2
1900-01-01 11:25:00 3 2 3 2
1900-01-01 11:30:00 3 3 3 3
1900-01-01 11:35:00 3 3 3 3
1900-01-01 11:40:00 3 3 3 3
1900-01-01 11:45:00 3 3 3 3
1900-01-01 11:50:00 3 3 3 3
1900-01-01 11:55:00 3 3 3 3
1900-01-01 12:00:00 3 3 3 3
1900-01-01 12:05:00 3 3 3 3
1900-01-01 12:10:00 3 3 3 3
1900-01-01 12:15:00 3 3 3 3
1900-01-01 12:20:00 3 3 3 3
1900-01-01 12:25:00 3 3 3 3
1900-01-01 12:30:00 3 3 3 3
1900-01-01 12:35:00 3 3 3 3
1900-01-01 12:40:00 3 3 3 3
1900-01-01 12:45:00 3 3 3 3
1900-01-01 12:50:00 3 3 3 3
1900-01-01 12:55:00 3 3 3 3
1900-01-01 13:00:00 3 3 3 3
1900-01-01 13:05:00 3 3 3 3
1900-01-01 13:10:00 3 3 3 3
1900-01-01 13:15:00 3 3 3 3
1900-01-01 13:20:00 3 3 3 3
1900-01-01 13:25:00 3 3 3 3
1900-01-01 13:30:00 3 3 3 3
1900-01-01 13:35:00 3 3 3 3
1900-01-01 13:40:00 3 3 3 3
1900-01-01 13:45:00 3 3 3 3
1900-01-01 13:50:00 3 3 3 3
1900-01-01 13:55:00 3 3 3 3
1900-01-01 14:00:00 3 3 3 3
1900-01-01 14:05:00 3 3 3 3
1900-01-01 14:10:00 3 3 3 3
1900-01-01 14:15:00 3 3 3 3
1900-01-01 14:20:00 3 3 3 3
1900-01-01 14:25:00 3 3 3 3
1900-01-01 14:30:00 3 3 3 3
1900-01-01 14:35:00 3 3 3 3
1900-01-01 14:40:00 3 3 3 3
1900-01-01 14:45:00 3 3 3 3
1900-01-01 14:50:00 3 3 3 3
1900-01-01 14:55:00 3 3 3 3
1900-01-01 15:00:00 3 3 3 3
1900-01-01 15:05:00 3 3 3 3
1900-01-01 15:10:00 3 3 3 3
1900-01-01 15:15:00 3 3 3 3
1900-01-01 15:20:00 3 3 3 3
1900-01-01 15:25:00 3 3 3 3
1900-01-01 15:30:00 3 3 3 3
1900-01-01 15:35:00 3 3 3 3
1900-01-01 15:40:00 3 3 3 3
1900-01-01 15:45:00 3 3 3 3
1900-01-01 15:50:00 3 3 3 3
1900-01-01 15:55:00 3 3 3 3
1900-01-01 16:00:00 3 3 3 3
1900-01-01 16:05:00 3 3 3 3
1900-01-01 16:10:00 3 3 3 3
1900-01-01 16:15:00 3 3 3 3
1900-01-01 16:20:00 3 3 3 3
1900-01-01 16:25:00 3 3 3 3
1900-01-01 16:30:00 3 3 3 3
1900-01-01 16:35:00 3 3 3 3
1900-01-01 16:40:00 3 3 3 3
1900-01-01 16:45:00 3 3 3 3
1900-01-01 16:50:00 3 3 3 3
1900-01-01 16:55:00 3 3 3 3
1900-01-01 17:00:00 4 3 4 3
1900-01-01 17:05:00 4 3 4 3
1900-01-01 17:10:00 4 3 4 3
1900-01-01 17:15:00 4 3 4 3
1900-01-01 17:20:00 4 3 4 3
1900-01-01 17:25:00 4 3 4 3
1900-01-01 17:30:00 4 4 4 4
1900-01-01 17:35:00 4 4 4 4
1900-01-01 17:40:00 3 4 4 4
1900-01-01 17:45:00 3 4 4 4
1900-01-01 17:50:00 3 4 4 4
1900-01-01 17:55:00 3 4 4 4
1900-01-01 18:00:00 3 4 4 4
1900-01-01 18:05:00 3 4 4 4
1900-01-01 18:10:00 3 4 4 4
1900-01-01 18:15:00 3 4 4 4
1900-01-01 18:20:00 3 4 4 4
1900-01-01 18:25:00 3 4 4 4
1900-01-01 18:30:00 3 3 3 3
1900-01-01 18:35:00 3 3 3 3
1900-01-01 18:40:00 3 3 3 3
1900-01-01 18:45:00 3 3 3 3
1900-01-01 18:50:00 3 3 3 3
1900-01-01 18:55:00 3 3 3 3
1900-01-01 19:00:00 4 4 4 4
1900-01-01 19:05:00 4 4 4 4
1900-01-01 19:10:00 4 4 4 4
1900-01-01 19:15:00 4 4 4 4
1900-01-01 19:20:00 4 4 4 4
1900-01-01 19:25:00 4 4 4 4
1900-01-01 19:30:00 4 4 4 4
1900-01-01 19:35:00 4 4 4 4
1900-01-01 19:40:00 4 4 4 4
1900-01-01 19:45:00 4 4 4 4
1900-01-01 19:50:00 4 4 4 4
1900-01-01 19:55:00 4 4 4 4
1900-01-01 20:00:00 4 4 2 3
1900-01-01 20:05:00 4 4 2 3
1900-01-01 20:10:00 2 3 2 3
1900-01-01 20:15:00 2 3 2 3
1900-01-01 20:20:00 2 3 2 3
1900-01-01 20:25:00 2 3 2 3
1900-01-01 20:30:00 3 3 3 3
1900-01-01 20:35:00 3 3 3 3
1900-01-01 20:40:00 3 3 3 3
1900-01-01 20:45:00 3 3 3 3
1900-01-01 20:50:00 3 3 3 3
1900-01-01 20:55:00 3 3 3 3
1900-01-01 21:00:00 2 2 2 2
1900-01-01 21:05:00 2 2 2 2
1900-01-01 21:10:00 2 2 2 2
1900-01-01 21:15:00 2 2 2 2
1900-01-01 21:20:00 2 2 2 2
1900-01-01 21:25:00 2 2 2 2
1900-01-01 21:30:00 2 2 2 2
1900-01-01 21:35:00 2 2 2 2
1900-01-01 21:40:00 2 2 2 2
1900-01-01 21:45:00 2 2 2 2
1900-01-01 21:50:00 2 2 2 2
1900-01-01 21:55:00 2 2 2 2
1900-01-01 22:00:00 2 2 2 2
1900-01-01 22:05:00 2 2 2 2
1900-01-01 22:10:00 2 2 2 2
1900-01-01 22:15:00 2 2 2 2
1900-01-01 22:20:00 2 2 2 2
1900-01-01 22:25:00 2 2 2 2
1900-01-01 22:30:00 2 2 2 2
1900-01-01 22:35:00 2 2 2 2
1900-01-01 22:40:00 2 2 2 2
1900-01-01 22:45:00 2 2 2 2
1900-01-01 22:50:00 2 2 2 2
1900-01-01 22:55:00 2 2 2 2
1900-01-01 23:00:00 1 2 1 2
1900-01-01 23:05:00 1 2 1 2
1900-01-01 23:10:00 1 2 1 2
1900-01-01 23:15:00 1 2 1 2
1900-01-01 23:20:00 1 2 1 2
1900-01-01 23:25:00 1 2 1 2
1900-01-01 23:30:00 2 1 2 1
1900-01-01 23:35:00 2 1 2 1
1900-01-01 23:40:00 2 1 2 1
1900-01-01 23:45:00 2 1 2 1
1900-01-01 23:50:00 2 1 2 1
1900-01-01 23:55:00 2 1 2 1
1900-01-01 00:00:00 2 1 1 2
1900-01-01 00:05:00 2 1 1 2
1900-01-01 00:10:00 2 1 1 2
1900-01-01 00:15:00 2 1 1 2
1900-01-01 00:20:00 2 1 1 2
1900-01-01 00:25:00 2 1 1 2
1900-01-01 00:30:00 5 1 0 1
1900-01-01 00:35:00 5 1 0 1
1900-01-01 00:40:00 5 1 0 1
1900-01-01 00:45:00 5 1 0 1
1900-01-01 00:50:00 5 1 0 1
1900-01-01 00:55:00 2 1 0 1
1900-01-01 01:00:00 2 6 0 0
1900-01-01 01:05:00 2 6 0 0
1900-01-01 01:10:00 2 6 0 0
1900-01-01 01:15:00 2 6 0 0
1900-01-01 01:20:00 2 6 0 0
1900-01-01 01:25:00 2 6 0 0
1900-01-01 01:30:00 2 6 0 0
1900-01-01 01:35:00 2 6 0 0
1900-01-01 01:40:00 2 6 0 0
1900-01-01 01:45:00 2 6 0 0
1900-01-01 01:50:00 2 6 0 0
1900-01-01 01:55:00 2 6 0 0
1900-01-01 02:00:00 2 6 0 0
1900-01-01 02:05:00 2 6 0 0
1900-01-01 02:10:00 2 6 0 0
1900-01-01 02:15:00 2 6 0 0
1900-01-01 02:20:00 2 6 0 0
1900-01-01 02:25:00 2 6 0 0
1900-01-01 02:30:00 2 6 0 0
1900-01-01 02:35:00 2 6 0 0
1900-01-01 02:40:00 2 6 0 0
1900-01-01 02:45:00 2 6 0 0
1900-01-01 02:50:00 2 6 0 0
1900-01-01 02:55:00 2 6 0 0

In [134]:
test2 = {}
for k,v in dirtt.items():
    test2[k] = []
    for i in dirtt[k]:
        test2[k].append(i.print_info())
        print(k, i.print_info())

1 (Timestamp('1900-01-01 05:00:00'), Timestamp('1900-01-01 05:20:27'), True)
1 (Timestamp('1900-01-01 05:30:00'), Timestamp('1900-01-01 05:50:27'), False)
1 (Timestamp('1900-01-01 05:55:00'), Timestamp('1900-01-01 06:15:27'), True)
1 (Timestamp('1900-01-01 07:00:00'), Timestamp('1900-01-01 07:20:27'), False)
1 (Timestamp('1900-01-01 07:25:00'), Timestamp('1900-01-01 07:45:27'), True)
1 (Timestamp('1900-01-01 07:50:00'), Timestamp('1900-01-01 08:10:27'), False)
1 (Timestamp('1900-01-01 08:15:00'), Timestamp('1900-01-01 08:35:27'), True)
1 (Timestamp('1900-01-01 08:40:00'), Timestamp('1900-01-01 09:00:27'), False)
1 (Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 09:25:27'), True)
1 (Timestamp('1900-01-01 09:30:00'), Timestamp('1900-01-01 09:50:27'), False)
1 (Timestamp('1900-01-01 09:55:00'), Timestamp('1900-01-01 10:15:27'), True)
1 (Timestamp('1900-01-01 10:20:00'), Timestamp('1900-01-01 10:40:27'), False)
1 (Timestamp('1900-01-01 10:45:00'), Timestamp('1900-01-01 11:05:27'), True)
1 (Timestamp('1900-01-01 11:10:00'), Timestamp('1900-01-01 11:30:27'), False)
1 (Timestamp('1900-01-01 11:35:00'), Timestamp('1900-01-01 11:55:27'), True)
1 (Timestamp('1900-01-01 12:00:00'), Timestamp('1900-01-01 12:20:27'), False)
1 (Timestamp('1900-01-01 12:25:00'), Timestamp('1900-01-01 12:45:27'), True)
1 (Timestamp('1900-01-01 12:50:00'), Timestamp('1900-01-01 13:10:27'), False)
1 (Timestamp('1900-01-01 13:15:00'), Timestamp('1900-01-01 13:35:27'), True)
1 (Timestamp('1900-01-01 13:40:00'), Timestamp('1900-01-01 14:00:27'), False)
1 (Timestamp('1900-01-01 14:05:00'), Timestamp('1900-01-01 14:25:27'), True)
1 (Timestamp('1900-01-01 14:30:00'), Timestamp('1900-01-01 14:50:27'), False)
1 (Timestamp('1900-01-01 14:55:00'), Timestamp('1900-01-01 15:15:27'), True)
1 (Timestamp('1900-01-01 15:20:00'), Timestamp('1900-01-01 15:40:27'), False)
1 (Timestamp('1900-01-01 15:45:00'), Timestamp('1900-01-01 16:05:27'), True)
1 (Timestamp('1900-01-01 16:10:00'), Timestamp('1900-01-01 16:30:27'), False)
1 (Timestamp('1900-01-01 16:35:00'), Timestamp('1900-01-01 16:55:27'), True)
1 (Timestamp('1900-01-01 17:05:00'), Timestamp('1900-01-01 17:25:27'), False)
1 (Timestamp('1900-01-01 17:35:00'), Timestamp('1900-01-01 17:55:27'), True)
1 (Timestamp('1900-01-01 18:30:00'), Timestamp('1900-01-01 18:50:27'), False)
1 (Timestamp('1900-01-01 18:55:00'), Timestamp('1900-01-01 19:15:27'), True)
1 (Timestamp('1900-01-01 19:20:00'), Timestamp('1900-01-01 19:40:27'), False)
1 (Timestamp('1900-01-01 19:45:00'), Timestamp('1900-01-01 20:05:27'), True)
1 (Timestamp('1900-01-01 20:10:00'), Timestamp('1900-01-01 20:30:27'), False)
1 (Timestamp('1900-01-01 20:35:00'), Timestamp('1900-01-01 20:55:27'), True)
1 (Timestamp('1900-01-01 21:00:00'), Timestamp('1900-01-01 21:20:27'), False)
1 (Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 21:50:27'), True)
1 (Timestamp('1900-01-01 21:55:00'), Timestamp('1900-01-01 22:15:27'), False)
1 (Timestamp('1900-01-01 22:20:00'), Timestamp('1900-01-01 22:40:27'), True)
1 (Timestamp('1900-01-01 22:45:00'), Timestamp('1900-01-01 23:05:27'), False)
1 (Timestamp('1900-01-01 23:10:00'), Timestamp('1900-01-01 23:30:27'), True)
1 (Timestamp('1900-01-01 23:35:00'), Timestamp('1900-01-01 23:55:27'), False)
2 (Timestamp('1900-01-01 05:25:00'), Timestamp('1900-01-01 05:45:27'), True)
2 (Timestamp('1900-01-01 05:55:00'), Timestamp('1900-01-01 06:15:27'), False)
2 (Timestamp('1900-01-01 07:00:00'), Timestamp('1900-01-01 07:20:27'), True)
2 (Timestamp('1900-01-01 07:25:00'), Timestamp('1900-01-01 07:45:27'), False)
2 (Timestamp('1900-01-01 07:50:00'), Timestamp('1900-01-01 08:10:27'), True)
2 (Timestamp('1900-01-01 08:15:00'), Timestamp('1900-01-01 08:35:27'), False)
2 (Timestamp('1900-01-01 08:40:00'), Timestamp('1900-01-01 09:00:27'), True)
2 (Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 09:25:27'), False)
2 (Timestamp('1900-01-01 09:30:00'), Timestamp('1900-01-01 09:50:27'), True)
2 (Timestamp('1900-01-01 09:55:00'), Timestamp('1900-01-01 10:15:27'), False)
2 (Timestamp('1900-01-01 10:20:00'), Timestamp('1900-01-01 10:40:27'), True)
2 (Timestamp('1900-01-01 10:45:00'), Timestamp('1900-01-01 11:05:27'), False)
2 (Timestamp('1900-01-01 11:10:00'), Timestamp('1900-01-01 11:30:27'), True)
2 (Timestamp('1900-01-01 11:35:00'), Timestamp('1900-01-01 11:55:27'), False)
2 (Timestamp('1900-01-01 12:00:00'), Timestamp('1900-01-01 12:20:27'), True)
2 (Timestamp('1900-01-01 12:25:00'), Timestamp('1900-01-01 12:45:27'), False)
2 (Timestamp('1900-01-01 12:50:00'), Timestamp('1900-01-01 13:10:27'), True)
2 (Timestamp('1900-01-01 13:15:00'), Timestamp('1900-01-01 13:35:27'), False)
2 (Timestamp('1900-01-01 13:40:00'), Timestamp('1900-01-01 14:00:27'), True)
2 (Timestamp('1900-01-01 14:05:00'), Timestamp('1900-01-01 14:25:27'), False)
2 (Timestamp('1900-01-01 14:30:00'), Timestamp('1900-01-01 14:50:27'), True)
2 (Timestamp('1900-01-01 14:55:00'), Timestamp('1900-01-01 15:15:27'), False)
2 (Timestamp('1900-01-01 15:20:00'), Timestamp('1900-01-01 15:40:27'), True)
2 (Timestamp('1900-01-01 15:45:00'), Timestamp('1900-01-01 16:05:27'), False)
2 (Timestamp('1900-01-01 16:10:00'), Timestamp('1900-01-01 16:30:27'), True)
2 (Timestamp('1900-01-01 16:35:00'), Timestamp('1900-01-01 16:55:27'), False)
2 (Timestamp('1900-01-01 17:05:00'), Timestamp('1900-01-01 17:25:27'), True)
2 (Timestamp('1900-01-01 17:35:00'), Timestamp('1900-01-01 17:55:27'), False)
2 (Timestamp('1900-01-01 18:30:00'), Timestamp('1900-01-01 18:50:27'), True)
2 (Timestamp('1900-01-01 18:55:00'), Timestamp('1900-01-01 19:15:27'), False)
2 (Timestamp('1900-01-01 19:20:00'), Timestamp('1900-01-01 19:40:27'), True)
2 (Timestamp('1900-01-01 19:45:00'), Timestamp('1900-01-01 20:05:27'), False)
2 (Timestamp('1900-01-01 20:10:00'), Timestamp('1900-01-01 20:30:27'), True)
2 (Timestamp('1900-01-01 20:35:00'), Timestamp('1900-01-01 20:55:27'), False)
2 (Timestamp('1900-01-01 21:05:00'), Timestamp('1900-01-01 21:25:27'), True)
2 (Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 21:50:27'), False)
2 (Timestamp('1900-01-01 21:55:00'), Timestamp('1900-01-01 22:15:27'), True)
2 (Timestamp('1900-01-01 22:20:00'), Timestamp('1900-01-01 22:40:27'), False)
2 (Timestamp('1900-01-01 22:45:00'), Timestamp('1900-01-01 23:05:27'), True)
2 (Timestamp('1900-01-01 23:10:00'), Timestamp('1900-01-01 23:30:27'), False)
2 (Timestamp('1900-01-01 23:35:00'), Timestamp('1900-01-01 23:55:27'), True)
3 (Timestamp('1900-01-01 05:30:00'), Timestamp('1900-01-01 05:50:27'), True)
3 (Timestamp('1900-01-01 06:00:00'), Timestamp('1900-01-01 06:20:27'), False)
3 (Timestamp('1900-01-01 07:00:00'), Timestamp('1900-01-01 07:20:27'), True)
3 (Timestamp('1900-01-01 07:25:00'), Timestamp('1900-01-01 07:45:27'), False)
3 (Timestamp('1900-01-01 07:50:00'), Timestamp('1900-01-01 08:10:27'), True)
3 (Timestamp('1900-01-01 08:15:00'), Timestamp('1900-01-01 08:35:27'), False)
3 (Timestamp('1900-01-01 08:40:00'), Timestamp('1900-01-01 09:00:27'), True)
3 (Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 09:25:27'), False)
3 (Timestamp('1900-01-01 09:35:00'), Timestamp('1900-01-01 09:55:27'), True)
3 (Timestamp('1900-01-01 10:00:00'), Timestamp('1900-01-01 10:20:27'), False)
3 (Timestamp('1900-01-01 10:25:00'), Timestamp('1900-01-01 10:45:27'), True)
3 (Timestamp('1900-01-01 10:50:00'), Timestamp('1900-01-01 11:10:27'), False)
3 (Timestamp('1900-01-01 11:15:00'), Timestamp('1900-01-01 11:35:27'), True)
3 (Timestamp('1900-01-01 11:40:00'), Timestamp('1900-01-01 12:00:27'), False)
3 (Timestamp('1900-01-01 12:05:00'), Timestamp('1900-01-01 12:25:27'), True)
3 (Timestamp('1900-01-01 12:30:00'), Timestamp('1900-01-01 12:50:27'), False)
3 (Timestamp('1900-01-01 12:55:00'), Timestamp('1900-01-01 13:15:27'), True)
3 (Timestamp('1900-01-01 13:20:00'), Timestamp('1900-01-01 13:40:27'), False)
3 (Timestamp('1900-01-01 13:45:00'), Timestamp('1900-01-01 14:05:27'), True)
3 (Timestamp('1900-01-01 14:10:00'), Timestamp('1900-01-01 14:30:27'), False)
3 (Timestamp('1900-01-01 14:35:00'), Timestamp('1900-01-01 14:55:27'), True)
3 (Timestamp('1900-01-01 15:00:00'), Timestamp('1900-01-01 15:20:27'), False)
3 (Timestamp('1900-01-01 15:25:00'), Timestamp('1900-01-01 15:45:27'), True)
3 (Timestamp('1900-01-01 15:50:00'), Timestamp('1900-01-01 16:10:27'), False)
3 (Timestamp('1900-01-01 16:15:00'), Timestamp('1900-01-01 16:35:27'), True)
3 (Timestamp('1900-01-01 16:40:00'), Timestamp('1900-01-01 17:00:27'), False)
3 (Timestamp('1900-01-01 17:05:00'), Timestamp('1900-01-01 17:25:27'), True)
3 (Timestamp('1900-01-01 17:35:00'), Timestamp('1900-01-01 17:55:27'), False)
3 (Timestamp('1900-01-01 18:30:00'), Timestamp('1900-01-01 18:50:27'), True)
3 (Timestamp('1900-01-01 18:55:00'), Timestamp('1900-01-01 19:15:27'), False)
3 (Timestamp('1900-01-01 19:20:00'), Timestamp('1900-01-01 19:40:27'), True)
3 (Timestamp('1900-01-01 19:45:00'), Timestamp('1900-01-01 20:05:27'), False)
3 (Timestamp('1900-01-01 20:15:00'), Timestamp('1900-01-01 20:35:27'), True)
3 (Timestamp('1900-01-01 20:40:00'), Timestamp('1900-01-01 21:00:27'), False)
3 (Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 21:40:27'), True)
3 (Timestamp('1900-01-01 21:50:00'), Timestamp('1900-01-01 22:10:27'), False)
3 (Timestamp('1900-01-01 22:35:00'), Timestamp('1900-01-01 22:55:27'), True)
3 (Timestamp('1900-01-01 23:05:00'), Timestamp('1900-01-01 23:25:27'), False)
3 (Timestamp('1900-01-01 23:30:00'), Timestamp('1900-01-01 23:50:27'), True)
3 (Timestamp('1900-01-01 01:00:00'), Timestamp('1900-01-01 01:20:27'), False)
4 (Timestamp('1900-01-01 05:50:00'), Timestamp('1900-01-01 06:10:27'), True)
4 (Timestamp('1900-01-01 07:00:00'), Timestamp('1900-01-01 07:20:27'), False)
4 (Timestamp('1900-01-01 07:25:00'), Timestamp('1900-01-01 07:45:27'), True)
4 (Timestamp('1900-01-01 07:50:00'), Timestamp('1900-01-01 08:10:27'), False)
4 (Timestamp('1900-01-01 08:15:00'), Timestamp('1900-01-01 08:35:27'), True)
4 (Timestamp('1900-01-01 08:40:00'), Timestamp('1900-01-01 09:00:27'), False)
4 (Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 09:25:27'), True)
4 (Timestamp('1900-01-01 09:30:00'), Timestamp('1900-01-01 09:50:27'), False)
4 (Timestamp('1900-01-01 10:00:00'), Timestamp('1900-01-01 10:20:27'), True)
4 (Timestamp('1900-01-01 10:25:00'), Timestamp('1900-01-01 10:45:27'), False)
4 (Timestamp('1900-01-01 10:50:00'), Timestamp('1900-01-01 11:10:27'), True)
4 (Timestamp('1900-01-01 11:15:00'), Timestamp('1900-01-01 11:35:27'), False)
4 (Timestamp('1900-01-01 11:40:00'), Timestamp('1900-01-01 12:00:27'), True)
4 (Timestamp('1900-01-01 12:05:00'), Timestamp('1900-01-01 12:25:27'), False)
4 (Timestamp('1900-01-01 12:30:00'), Timestamp('1900-01-01 12:50:27'), True)
4 (Timestamp('1900-01-01 12:55:00'), Timestamp('1900-01-01 13:15:27'), False)
4 (Timestamp('1900-01-01 13:20:00'), Timestamp('1900-01-01 13:40:27'), True)
4 (Timestamp('1900-01-01 13:45:00'), Timestamp('1900-01-01 14:05:27'), False)
4 (Timestamp('1900-01-01 14:10:00'), Timestamp('1900-01-01 14:30:27'), True)
4 (Timestamp('1900-01-01 14:35:00'), Timestamp('1900-01-01 14:55:27'), False)
4 (Timestamp('1900-01-01 15:00:00'), Timestamp('1900-01-01 15:20:27'), True)
4 (Timestamp('1900-01-01 15:25:00'), Timestamp('1900-01-01 15:45:27'), False)
4 (Timestamp('1900-01-01 15:50:00'), Timestamp('1900-01-01 16:10:27'), True)
4 (Timestamp('1900-01-01 16:15:00'), Timestamp('1900-01-01 16:35:27'), False)
4 (Timestamp('1900-01-01 16:40:00'), Timestamp('1900-01-01 17:00:27'), True)
4 (Timestamp('1900-01-01 17:05:00'), Timestamp('1900-01-01 17:25:27'), False)
4 (Timestamp('1900-01-01 17:35:00'), Timestamp('1900-01-01 17:55:27'), True)
4 (Timestamp('1900-01-01 18:30:00'), Timestamp('1900-01-01 18:50:27'), False)
4 (Timestamp('1900-01-01 18:55:00'), Timestamp('1900-01-01 19:15:27'), True)
4 (Timestamp('1900-01-01 19:20:00'), Timestamp('1900-01-01 19:40:27'), False)
4 (Timestamp('1900-01-01 19:45:00'), Timestamp('1900-01-01 20:05:27'), True)
4 (Timestamp('1900-01-01 20:10:00'), Timestamp('1900-01-01 20:30:27'), False)
4 (Timestamp('1900-01-01 20:40:00'), Timestamp('1900-01-01 21:00:27'), True)
4 (Timestamp('1900-01-01 21:05:00'), Timestamp('1900-01-01 21:25:27'), False)
4 (Timestamp('1900-01-01 21:45:00'), Timestamp('1900-01-01 22:05:27'), True)
4 (Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 22:35:27'), False)
4 (Timestamp('1900-01-01 23:55:00'), Timestamp('1900-01-02 00:15:27'), True)
5 (Timestamp('1900-01-01 06:00:00'), Timestamp('1900-01-01 06:20:27'), True)
5 (Timestamp('1900-01-01 07:00:00'), Timestamp('1900-01-01 07:20:27'), False)
5 (Timestamp('1900-01-01 07:25:00'), Timestamp('1900-01-01 07:45:27'), True)
5 (Timestamp('1900-01-01 07:50:00'), Timestamp('1900-01-01 08:10:27'), False)
5 (Timestamp('1900-01-01 08:15:00'), Timestamp('1900-01-01 08:35:27'), True)
5 (Timestamp('1900-01-01 08:40:00'), Timestamp('1900-01-01 09:00:27'), False)
5 (Timestamp('1900-01-01 09:10:00'), Timestamp('1900-01-01 09:30:27'), True)
5 (Timestamp('1900-01-01 09:35:00'), Timestamp('1900-01-01 09:55:27'), False)
5 (Timestamp('1900-01-01 11:00:00'), Timestamp('1900-01-01 11:20:27'), True)
5 (Timestamp('1900-01-01 11:30:00'), Timestamp('1900-01-01 11:50:27'), False)
5 (Timestamp('1900-01-01 12:15:00'), Timestamp('1900-01-01 12:35:27'), True)
5 (Timestamp('1900-01-01 12:45:00'), Timestamp('1900-01-01 13:05:27'), False)
5 (Timestamp('1900-01-01 13:30:00'), Timestamp('1900-01-01 13:50:27'), True)
5 (Timestamp('1900-01-01 14:00:00'), Timestamp('1900-01-01 14:20:27'), False)
5 (Timestamp('1900-01-01 14:45:00'), Timestamp('1900-01-01 15:05:27'), True)
5 (Timestamp('1900-01-01 15:15:00'), Timestamp('1900-01-01 15:35:27'), False)
5 (Timestamp('1900-01-01 16:00:00'), Timestamp('1900-01-01 16:20:27'), True)
5 (Timestamp('1900-01-01 16:30:00'), Timestamp('1900-01-01 16:50:27'), False)
5 (Timestamp('1900-01-01 17:00:00'), Timestamp('1900-01-01 17:20:27'), True)
5 (Timestamp('1900-01-01 17:30:00'), Timestamp('1900-01-01 17:50:27'), False)
5 (Timestamp('1900-01-01 18:30:00'), Timestamp('1900-01-01 18:50:27'), True)
5 (Timestamp('1900-01-01 18:55:00'), Timestamp('1900-01-01 19:15:27'), False)
5 (Timestamp('1900-01-01 19:20:00'), Timestamp('1900-01-01 19:40:27'), True)
5 (Timestamp('1900-01-01 19:45:00'), Timestamp('1900-01-01 20:05:27'), False)
5 (Timestamp('1900-01-01 20:30:00'), Timestamp('1900-01-01 20:50:27'), True)
5 (Timestamp('1900-01-01 21:25:00'), Timestamp('1900-01-01 21:45:27'), False)
5 (Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 22:30:27'), True)
5 (Timestamp('1900-01-01 22:40:00'), Timestamp('1900-01-01 23:00:27'), False)
5 (Timestamp('1900-01-01 00:30:00'), Timestamp('1900-01-01 00:50:27'), True)
5 (Timestamp('1900-01-01 01:00:00'), Timestamp('1900-01-01 01:20:27'), False)
6 (Timestamp('1900-01-01 06:30:00'), Timestamp('1900-01-01 06:50:27'), True)
6 (Timestamp('1900-01-01 07:25:00'), Timestamp('1900-01-01 07:45:27'), False)
6 (Timestamp('1900-01-01 07:50:00'), Timestamp('1900-01-01 08:10:27'), True)
6 (Timestamp('1900-01-01 08:15:00'), Timestamp('1900-01-01 08:35:27'), False)
6 (Timestamp('1900-01-01 08:40:00'), Timestamp('1900-01-01 09:00:27'), True)
6 (Timestamp('1900-01-01 09:10:00'), Timestamp('1900-01-01 09:30:27'), False)
6 (Timestamp('1900-01-01 11:25:00'), Timestamp('1900-01-01 11:45:27'), True)
6 (Timestamp('1900-01-01 11:55:00'), Timestamp('1900-01-01 12:15:27'), False)
6 (Timestamp('1900-01-01 12:40:00'), Timestamp('1900-01-01 13:00:27'), True)
6 (Timestamp('1900-01-01 13:10:00'), Timestamp('1900-01-01 13:30:27'), False)
6 (Timestamp('1900-01-01 13:55:00'), Timestamp('1900-01-01 14:15:27'), True)
6 (Timestamp('1900-01-01 14:25:00'), Timestamp('1900-01-01 14:45:27'), False)
6 (Timestamp('1900-01-01 15:10:00'), Timestamp('1900-01-01 15:30:27'), True)
6 (Timestamp('1900-01-01 15:40:00'), Timestamp('1900-01-01 16:00:27'), False)
6 (Timestamp('1900-01-01 16:25:00'), Timestamp('1900-01-01 16:45:27'), True)
6 (Timestamp('1900-01-01 16:55:00'), Timestamp('1900-01-01 17:15:27'), False)
6 (Timestamp('1900-01-01 17:25:00'), Timestamp('1900-01-01 17:45:27'), True)
6 (Timestamp('1900-01-01 18:30:00'), Timestamp('1900-01-01 18:50:27'), False)
6 (Timestamp('1900-01-01 18:55:00'), Timestamp('1900-01-01 19:15:27'), True)
6 (Timestamp('1900-01-01 19:20:00'), Timestamp('1900-01-01 19:40:27'), False)
6 (Timestamp('1900-01-01 19:45:00'), Timestamp('1900-01-01 20:05:27'), True)
6 (Timestamp('1900-01-01 20:15:00'), Timestamp('1900-01-01 20:35:27'), False)
6 (Timestamp('1900-01-01 20:55:00'), Timestamp('1900-01-01 21:15:27'), True)
6 (Timestamp('1900-01-01 01:00:00'), Timestamp('1900-01-01 01:20:27'), False)
7 (Timestamp('1900-01-01 07:00:00'), Timestamp('1900-01-01 07:20:27'), True)
7 (Timestamp('1900-01-01 07:30:00'), Timestamp('1900-01-01 07:50:27'), False)
7 (Timestamp('1900-01-01 07:55:00'), Timestamp('1900-01-01 08:15:27'), True)
7 (Timestamp('1900-01-01 08:20:00'), Timestamp('1900-01-01 08:40:27'), False)
7 (Timestamp('1900-01-01 08:45:00'), Timestamp('1900-01-01 09:05:27'), True)
7 (Timestamp('1900-01-01 09:30:00'), Timestamp('1900-01-01 09:50:27'), False)
7 (Timestamp('1900-01-01 11:50:00'), Timestamp('1900-01-01 12:10:27'), True)
7 (Timestamp('1900-01-01 12:20:00'), Timestamp('1900-01-01 12:40:27'), False)
7 (Timestamp('1900-01-01 13:05:00'), Timestamp('1900-01-01 13:25:27'), True)
7 (Timestamp('1900-01-01 13:35:00'), Timestamp('1900-01-01 13:55:27'), False)
7 (Timestamp('1900-01-01 14:20:00'), Timestamp('1900-01-01 14:40:27'), True)
7 (Timestamp('1900-01-01 14:50:00'), Timestamp('1900-01-01 15:10:27'), False)
7 (Timestamp('1900-01-01 15:35:00'), Timestamp('1900-01-01 15:55:27'), True)
7 (Timestamp('1900-01-01 16:05:00'), Timestamp('1900-01-01 16:25:27'), False)
7 (Timestamp('1900-01-01 16:50:00'), Timestamp('1900-01-01 17:10:27'), True)
7 (Timestamp('1900-01-01 17:20:00'), Timestamp('1900-01-01 17:40:27'), False)
7 (Timestamp('1900-01-01 19:00:00'), Timestamp('1900-01-01 19:20:27'), True)
7 (Timestamp('1900-01-01 19:25:00'), Timestamp('1900-01-01 19:45:27'), False)
7 (Timestamp('1900-01-01 19:50:00'), Timestamp('1900-01-01 20:10:27'), True)
7 (Timestamp('1900-01-01 20:35:00'), Timestamp('1900-01-01 20:55:27'), False)
7 (Timestamp('1900-01-01 00:30:00'), Timestamp('1900-01-01 00:50:27'), True)
7 (Timestamp('1900-01-01 01:00:00'), Timestamp('1900-01-01 01:20:27'), False)
8 (Timestamp('1900-01-01 07:30:00'), Timestamp('1900-01-01 07:50:27'), True)
8 (Timestamp('1900-01-01 07:55:00'), Timestamp('1900-01-01 08:15:27'), False)
8 (Timestamp('1900-01-01 08:20:00'), Timestamp('1900-01-01 08:40:27'), True)
8 (Timestamp('1900-01-01 08:45:00'), Timestamp('1900-01-01 09:05:27'), False)
8 (Timestamp('1900-01-01 17:15:00'), Timestamp('1900-01-01 17:35:27'), True)
8 (Timestamp('1900-01-01 19:00:00'), Timestamp('1900-01-01 19:20:27'), False)
8 (Timestamp('1900-01-01 19:25:00'), Timestamp('1900-01-01 19:45:27'), True)
8 (Timestamp('1900-01-01 19:50:00'), Timestamp('1900-01-01 20:10:27'), False)
8 (Timestamp('1900-01-01 00:30:00'), Timestamp('1900-01-01 00:50:27'), True)
8 (Timestamp('1900-01-01 01:00:00'), Timestamp('1900-01-01 01:20:27'), False)

In [127]:
df2 = pd.DataFrame(list(test2.items()), columns=['busid', 'dots'])
df2.head(10)

   busid                                               dots
0      1  [(1900-01-01 05:00:00, 1900-01-01 05:20:27, Tr...
1      2  [(1900-01-01 05:25:00, 1900-01-01 05:45:27, Tr...
2      3  [(1900-01-01 05:30:00, 1900-01-01 05:50:27, Tr...
3      4  [(1900-01-01 05:50:00, 1900-01-01 06:10:27, Tr...
4      5  [(1900-01-01 06:00:00, 1900-01-01 06:20:27, Tr...
5      6  [(1900-01-01 06:30:00, 1900-01-01 06:50:27, Tr...
6      7  [(1900-01-01 07:00:00, 1900-01-01 07:20:27, Tr...
7      8  [(1900-01-01 07:30:00, 1900-01-01 07:50:27, Tr...

In [128]:
df2.to_excel('test3.xlsx')